/* large device responsive */
@media screen and (min-width: 992px){

}


/* laptop device responsive */
@media screen and (max-width: 992px){

}

/* small / mobile device responsive */
@media screen and (max-width: 576px){

    /* --nav-- */
    .nav-container{
        margin-left: 10px;
        margin-right: 10px;
    }
    .nav-container img {
        width: 137px;
    }
    .nav-icon a{
        display: none;
    }
    .btn{
        display: none;
    }
    .nav-humber{
        display: block;
    }
    /* --banner-- */
    
    .banner-circle{
        height: 200px;
        width: 200px;
    }
    .banner-circle img{
        height: 70px;
        width: 47px;
    }
    .mic{
        top: 20%;
        left: 39%;
    }
    .badge{
        top: 3%;
        left: 65%;
    }
    .banner-contant h1{
        font-size: 3rem;
        font-weight: 700;
    }
    .btn-box .btn{
        display: block;
    }

    /* --about section-- */
    .about{
        margin: 10px 16px auto 16px;
    }
    .text-bold{
        font-size: 2rem;
    }
    .card h1{
        font-size: 2.5rem;
    }
    .about-cardbox{
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    }

}