/* large device responsive */
@media screen and (min-width: 992px){

}


/* laptop device responsive */
@media screen and (max-width: 992px){

    nav, .choose-container, .about, .feature, .meet{
    max-width: 1200px;
    margin: 0 30px;
    }
    .nav-container{
        flex-direction: column;
        gap: 40px;
    }
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'box-1'
        'box-2'
        'box-3'
        'box-4'
        'box-5'
    ;        
    }
    .fram-card{
    width: 100%;
    }
    .fram-card-box{
        flex-direction: column;
        align-items: center;
    }
    .meet, .feature{
        margin-top: 40px;
    }
    .fram-card{
        display: flex;
        align-items: center;
    }
    
}

/* small / mobile device responsive */
@media screen and (max-width: 576px){

    /* --common-- */
    nav, .choose-container, .about, .feature, .meet{
    max-width: 1200px;
    margin: 0 30px;
    }
    /* --nav-- */
    .nav-container{
        flex-direction: row;
    }
    .nav-container img {
        width: 137px;
    }
    .nav-icon a{
        display: none;
    }
    .btn{
        display: none;
    }
    .nav-humber{
        display: block;
    }
    /* --banner-- */
   
    .banner-circle{
        height: 200px;
        width: 200px;
    }
    .banner-circle img{
        height: 70px;
        width: 47px;
    }
    .mic{
        top: 20%;
        left: 39%;
    }
    .badge{
        top: 3%;
        left: 65%;
    }
    .banner-contant h1{
        font-size: 3rem;
        font-weight: 700;
    }
    .btn-box .btn{
        display: block;
    }

    /* --about section-- */
    
    .text-bold{
        font-size: 2rem;
    }
    .card h1{
        font-size: 2.5rem;
    }
    .about-cardbox{
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    }

    /* --choose section-- */
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'box-1'
        'box-2'
        'box-3'
        'box-4'
        'box-5'
    ;        
    }

    /* --feature section-- */
    .fram-card{
    width: 100%;
    flex-direction: column;
    }
    .fram-card-box{
        flex-direction: column;
        align-items: center;
    }

    /* --meet section-- */
    .meet-container{
        flex-direction: column;
    }
    .meet-contant{
        text-align: center;
    }
    .meet, .feature{
        margin-top: 40px;
    }
    .meet-icon{
        justify-content: center;  
    }

    /* --footer section-- */
    footer{
        padding: 30px;
    }
    .footer-icon{
        flex-wrap: wrap;
        gap: 10px;
    }
    

}