/* =====universel selector===== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ======google fonts font family, bg and text colour====== */
.inter{
  font-family: "Inter", sans-serif;
  background-color: #1A0B2E;
  color: white;
}
/* --comon css-- */
nav, .choose-container, .about, .feature, .meet{
    max-width: 1200px;
    margin: 0 auto;
}
.text-bold{
    font-size: 3rem;
    font-weight: 700;
}
.text-grey{
    color: rgba(255, 255, 255, 0.658);
    line-height: 20px;
}

/* =====header section start===== */
/* --nav-- */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0 24px 0;
}
.nav-icon a{
    text-decoration: none;
    color: white;
    margin-right: 32px;
    font-size: 1.125rem;
    font-weight: 500;
}
.btn{
    padding: 12px 16px;
    border: none;
    border-radius: 50px;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(30deg,#F7E93F, #FB09B4, #9100F8);
}
.nav-humber{
    display: none;
    font-size: 1.25rem;
    cursor: pointer;
}

/* --banner-- */
.banner{
    background-image: url(../assets/hero-bg.png);
    width: 100%;
    height: 760px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-container{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.banner-circle{
    background-image: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    height: 350px;
    width: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.banner-circle img{
        height: 175px;
        width: 116px;
    }
.badge{
    background-color: #00FF88;
    width: 75px;
    height: 38px;
    padding: 8px 16px;
    border-radius: 50px;
    box-shadow: 0 0 10px 1px #00FF88;
    position: absolute;
    top: 2%;
    left: 70%;
}
.banner-contant h1{
    font-size: 3.8rem;
    font-weight: 800;
}
.banner-contant p{
    margin: 8px auto 24px auto;
}

.btn-box{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn-box img{
    margin-right: 10px;
}
.btn-three{
    background-color: transparent;
    color: #00FF88;
    padding: 12px 20px;
    font-size: 1.25rem;
    font-weight: 600;
    border: 2px solid #00FF88 ;
    border-radius: 50px;
    cursor: pointer;
}
/* =====header section end===== */

/* =====main section start===== */
/* --about-- */
.about{
    margin-top: 50px;
    text-align: center;
}
.about-container h2{
    margin-bottom: 16px;
}
main hr{
    margin: 80px auto;
    opacity: 0.1;
}
.about-cardbox{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 120px;
}
.card h1{
    font-size: 3rem;
    font-weight: 700;
    color: #00FF88;
}
.card p{
    color: rgba(255, 255, 255, 0.658);
    line-height: 20px;
    margin-top: 16px;
}

/* --choose-- */
.choose{
    background-color: #230E3D;
}
.grid-container{
    gap: 30px;
    padding-bottom: 120px;
    display: grid;
}
.choose-contant{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;
}
.grid-container h3{
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 16px;
    margin-bottom: 16px;
}
.grid-container .grid-card-all{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 107px 40px;
    border-radius: 40px;
}

.grid-card-1{grid-area: box-1;}
.grid-card-2{grid-area: box-2;}
.grid-card-3{grid-area: box-3;}
.grid-card-4{grid-area: box-4;}
.grid-card-5{grid-area: box-5;}


.grid-container{
    grid-template-areas: 
    'box-1 box-2 box-2'
    'box-1 box-3 box-3'
    'box-4 box-4 box-5'
    ;
}

/* --feature section-- */
.feature{
    margin-top: 120px;
    margin-bottom: 120px;
}
.feature h1{
    text-align: center;
}
.fram-card-box{
    display: flex;
    gap: 30px;
    margin-top: 40px;
    width: 100%;
}
.fram-card{
    background-color: #250D44;
    border-radius: 30px;
    width: 380px;
}
.fram-card iframe{
    width: 100%;
    border-radius: 30px 30px 0 0;
}

.feature-contant{
    padding: 24px;
}
.feature-contant h2{
    font-size: 1.5rem;
    font-weight: 700;
}
.feature-contant p{
    margin: 12px auto 12px auto;
}
.feature-contant .time{
    display: flex;
    color: #00FF88;
    align-items: center;
    
}
.time h6{
    font-weight: 600;
    margin-left: 5px;
}


/* --meet section-- */
.meet h1{
    text-align: center;
}
.meet-container{
    background-color: #533C72;
    display: flex;
    gap: 24px;
    align-items: center;
    border-radius: 20px;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 120px;
}
.meet-contant h2{
    font-size: 2rem;
    font-weight: 700;
}
.meet-contant p{
    margin: 16px auto;
}
.meet-icon{
    display: flex;
    align-items: center;
    gap: 8px;
}
.meet-icon a{
    border: 2px solid rgba(255, 0, 0, 0.185);
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.meet-icon a:hover{
    background-color: rgba(178, 184, 178, 0.63);
}
