/* =====universel selector===== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ======google fonts font family, bg and text colour====== */
.inter{
  font-family: "Inter", sans-serif;
  background-color: #1A0B2E;
  color: white;
}
/* --comon css-- */
nav{
    max-width: 1200px;
    margin: 0 auto;
}
.text-grey{
    color: rgba(255, 255, 255, 0.658);
    line-height: 20px;
}

/* =====header section start===== */
/* --nav-- */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0 24px 0;
}
.nav-icon a{
    text-decoration: none;
    color: white;
    margin-right: 32px;
    font-size: 1.125rem;
    font-weight: 500;
}
.btn{
    padding: 12px 16px;
    border: none;
    border-radius: 50px;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(30deg,#F7E93F, #FB09B4, #9100F8);
}
.nav-humber{
    display: none;
    font-size: 1.25rem;
    cursor: pointer;
}

/* --banner-- */
.banner{
    background-image: url(../assets/hero-bg.png);
    width: 100%;
    height: 760px;
    border: 2px solid tomato;
    background-position: center;
}
.banner-container{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.banner-img .circle{
    margin-bottom: 40px;
}
.banner-img{

    position: relative;
}
.mic{
    position: absolute;
    top: 20%;
    left: 47%;
}
.badge{
    background-color: #00FF88;
    width: 75px;
    height: 38px;
    padding: 8px 16px;
    border-radius: 50px;
    box-shadow: 0 0 10px 1px #00FF88;
    position: absolute;
    top: 1%;
    left: 53%;
}
.banner-contant h1{
    font-size: 3.8rem;
    font-weight: 800;
}
.banner-contant p{
    margin: 8px auto 24px auto;
}

.btn-box{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn-box img{
    margin-right: 10px;
}
.btn-three{
    background-color: transparent;
    color: #00FF88;
    padding: 12px 20px;
    font-size: 1.25rem;
    font-weight: 600;
    border: 2px solid #00FF88 ;
    border-radius: 50px;
}